@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Helvetica:400,700');

body {
  background-color: #009973;
  font-family: 'Helvetica', sans-serif;
}

header {
  width: 100%;
  height: 155px;
  background-color: #009973;
  text-align: left;
  font-size: 125px;
  color: white;
  position: fixed;
  top: 0;
  padding-top: 10px;
}

p{
  text-align: center;
  font-size: 20px;
  color: #cccac9;
  font-family: 'Helvetica', sans-serif;
}

h1 {
  padding-top: 200px;
  text-align: center;
  font-size: 30px;
}

#shop {
  font-size: 100px;
  text-align: center;
  padding-top: 0px;
  color: white;
}

.btn:hover {
    background-color: #81a179;
  }

.btn {
  background-color: #c9fcbd
  font-size: 25px;
  font-family: 'Helvetica', sans-serif;
}

.button {
  position: relative;
}

* {
  box-sizing: border-box;
}

/* Style the search field */
form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 40%;
  margin-left: 410px;
  background: #f1f1f1;
}

/* Style the submit button */
form.example button {
  float: center;
  width: 7%;
  padding: 10px;
  background: #b3ffb3;
  color: green;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

form.example button:hover {
  background: #003300;
}

/* Clear floats */
form.example::after {
  content: "";
  clear: both;
  display: table;
}

/* unvisited link */
a:link {
  color: black;
}

/* visited link */
a:visited {
  color: black;
}

/* mouse over link */
a:hover {
  color: white;
}

/* selected link */
a:active {
  color: black;
}

footer {
  background-color: #009973;
  width: 100%;
  height: 25px;
  bottom: 0;
  font-family: sans-serif;
  font-size: 20px;
  font: "Helvetica";
  text-align: center;
  justify;
  word-spacing: 150px;
  position: fixed;
}

/*

/*
#page-contain {
  background-color: #73G56Y;
    background-image: url(https://akns-images.eonline.com/eol_images/Entire_Site/2016927/rs_600x600-161027125713-600-Oprah-Winfrey-Garden-Vegetables-RM-102716.jpg?fit=around|700:700&crop=700:700;center,top&output-quality=90);
    background-size: cover;
  width: 50%;
  border-width: 5px;
  border-color: #b12525;
  border-style: dashed;
  padding: 40px;
  margin: auto;
}
.box { width: 80%;
  border: 2px;
  border-bottom-left-radius: #cc24cc;
  margin: auto;
  padding: 15px;
  background-color: rgba(255,255,255,0.7);
    font-family: 'Montserrat''Krub', sans-serif;
}
.bg image {
  display: block;
  width: 100%;
  height: 100vh;
  background-image: url(https://d2z1w4aiblvrwu.cloudfront.net/ad/wD85/o-thats-good-garden-joy-featuring-oprah-winfrey-large-1.jpg)
  background-size: contain;
}

.gi{
  width: 40px;
  height: 200px;
  margin: 10px;
  background-color: red;
  display: inline-block;
}
#circle {
  border-radius: 50%
}
*/
