@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Helvetica:400,700');

body {
  background-color: #ffe6e6;
  font-family: 'Helvetica', sans-serif;
}

header {
  width: 100%;
  height: 155px;
  background-color: #ffe6e6;
  text-align: left;
  font-size: 125px;
  position: fixed;
  top: 0;
  padding-top: 10px;
}

/* Add a black background color to the top navigation bar */
/*.topnav {
    overflow: hidden;
    background-color: #ffe6e6;
}
*/

/* Style the search box inside the navigation bar */
/*
.topnav input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 0px;
    margin-right: 16px;
    font-size: 17px;
    position: relative;
}
*/

#search{
  display: inline;
  font-size: 20px;
  text-align: right;
  right: 100px;
  padding-top: 40px;
  position: absolute;
}

p{
padding-top: 200px;
text-align: center;
font-size: 25px;
}

#shop{
  font-size: 100px;
  text-align: center;
  padding-top: 0px;
  color: white;
}


main {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: column;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 0%;
  margin-bottom: 25px;
  font-size: 25px;
  font-style: italic;
  padding-top: 125px;
  padding-bottom: 125px;
}

figure img{
  display: inline-block;
  vertical-align: middle;
}

.right {
  align-self: flex-end;
}

figcaption{
  display: inline-block;
  text-align: center;
}

/* aside {
  width: 50%;
  min-height: 50%;
  background-color: #ffe6e6;
  padding-bottom: 100px;
  text-align: left;
  font-size: 25px;
  float: left;
}


article {
  width: 50%;
  min-height: 50%;
  background-color: #ffe6e6;
  text-align: center;
  padding-top: 700px;
  padding-bottom: 269px;
  font-size: 25px;
  float: right;
}
*/

/* unvisited link */
a:link {
    color: black;
}

/* visited link */
a:visited {
    color: black;
}

/* mouse over link */
a:hover {
    color: white;
}

/* selected link */
a:active {
    color: black;
}

/*.myImage {
  background-image: ("rebecca.png");
  float: left;
  height: 300px;
  width: 60%;
  margin-bottom: 100px;
}

.myImage {
  background-image: ("morgan.png");
  float: right;
  height: 300px;
  padding-top: 0px;
  width: 60%;
}

.myImage {
  background-image: ("solyana.png");
  float: left;
  height: 300px;
  padding-top: 500px;
  width: 60%;
  margin-top: 500px;
}
*/

footer {
  background-color: #ffe6e6;
  width: 100%;
  height: 25px;
  bottom: 0;
  font-family: sans-serif;
  font-size: 20px;
  font: "Helvetica";
  text-align: center; justify;
  word-spacing: 150px;
  position: fixed;
}
/*

/*
#page-contain {
  background-color: #73G56Y;
    background-image: url(https://akns-images.eonline.com/eol_images/Entire_Site/2016927/rs_600x600-161027125713-600-Oprah-Winfrey-Garden-Vegetables-RM-102716.jpg?fit=around|700:700&crop=700:700;center,top&output-quality=90);
    background-size: cover;
  width: 50%;
  border-width: 5px;
  border-color: #b12525;
  border-style: dashed;
  padding: 40px;
  margin: auto;
}
.box { width: 80%;
  border: 2px;
  border-bottom-left-radius: #cc24cc;
  margin: auto;
  padding: 15px;
  background-color: rgba(255,255,255,0.7);
    font-family: 'Montserrat''Krub', sans-serif;
}
.bg image {
  display: block;
  width: 100%;
  height: 100vh;
  background-image: url(https://d2z1w4aiblvrwu.cloudfront.net/ad/wD85/o-thats-good-garden-joy-featuring-oprah-winfrey-large-1.jpg)
  background-size: contain;
}

.gi{
  width: 40px;
  height: 200px;
  margin: 10px;
  background-color: red;
  display: inline-block;
}
#circle {
  border-radius: 50%
}
*/
