<!DOCTYPE html>
<html>

<head>
  <title>velp.</title>
  <link rel="stylesheet" type="text/css" href="index.css">
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body>
  <div id = "app">
  <header>
    <i> <strong> velp. </strong> </i>
  </header>

  <section>
    <p>
      <i>mother nature thanks you</i>
    </p>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<form class="example">
  <input type="text" placeholder="veg near me..." v-model='lookup'name="search">
  <button v-if="lookup" v-on:click="get"> <i class="fa fa-search"></i></button>
</form>

  <footer>
    <i><u><a href="https://minimalistbaker.com">cook.</a></u></i>
    <i><u><a href="https://www.instagram.com/nycveganeats/">follow.</a></u></i>
    <i><u><a href="https://www.google.com/search?q=oprah+winfrey+with+garden+vegetables&source=lnms&tbm=isch&sa=X&ved=0ahUKEwi2v6Pc8vXeAhVjS98KHYbeBvEQ_AUIDigB&biw=1440&bih=668">explore.</a></u></i>
  </footer>
</div>
<script src = "app.js"> </script>

</body>

</html>
